<html>
<body>


<h2> HTML Form </h2>

<form action="/submit" method = 'post'>
<label for "science"> Science: </label> <br>
<input type = "text" id ='science' name = "science" ><br>

<label for "maths"> Maths: </label> <br>
<input type = "text" id = 'maths' name = 'maths'><br>

<label for "english"> English: </label> <br>
<input type = "text" id = "computer" name = 'computer'><br>

<label for "hindi"> Hindi: </label> <br>
<input type = "text" id = "hindi" name = "hindi"><br>


<input type = "submit" value='Submit'>
</form>


</body>
</html>