<!DOCTYPE html>
<html>
<body>

<h2> Welcome to Boston House Price Prediction </h2>

<form action = '/submit' method = "post">

<label for "crim"> CRIM: </label> <br>
<input type = "text" placeholder ="per capita crime rate by town" required = "required" id = 'crim' name='crim'> <br>

<label for "znab"> ZN: </label> <br>
<input type = "text" placeholder = "proportion of residential land zoned for lots over 25,000 sq.ft" required = "required" id = 'znab' name='znab' > <br>

<label for "indus"> INDUS: </label> <br>
<input type = "text" placeholder = "proportion of non-retail business acres per town" required = "required" id = 'indus' name='indus' > <br>

<label for "chas"> CHAS: </label> <br>
<input type = "text" placeholder = "Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)" required = "required" id = 'chas' name = 'chas' > <br>

<label for "nox"> NOX: </label> <br>
<input type = "text" placeholder = "nitric oxides concentration (parts per 10 million)" required = "required" id = 'nox' name='nox'> <br>

<label for "rmab"> RM: </label> <br>
<input type = "text" placeholder = "average number of rooms per dwelling" required = "required" id = 'rmab' name='rmab' > <br>

<label for "age"> AGE: </label> <br>
<input type = "text" placeholder = "proportion of owner-occupied units built prior to 1940" required = "required" id = 'age' name='age'> <br>

<label for "dis"> DIS: </label> <br>
<input type = "text" placeholder = "weighted distances to five Boston employment centres" required = "required" id = 'dis' name= 'dis'> <br>

<label for "rad"> RAD: </label> <br>
<input type = "text" placeholder = "index of accessibility to radial highways" required = "required" id = 'rad' name='rad'> <br>

<label for "tax"> TAX: </label> <br>
<input type = "text" placeholder = "full-value property-tax rate per $10,000" required = "required" id = 'tax' name='tax'> <br>

<label for "ptratio"> PTRATIO: </label> <br>
<input type = "text" placeholder = "pupil-teacher ratio by town" required = "required" id = 'ptratio' name = 'ptratio'> <br>

<label for "babc"> B: </label> <br>
<input type = "text" placeholder = "1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town" required = "required" id = 'babc' name = 'babc' > <br>

<label for "lstat"> LSTAT: </label> <br>
<input type = "text" placeholder = "% lower status of the population" required = "required" id = 'lstat' , name = 'lstat'> <br>

<input type = "submit"  value = "Submit">
</body>
</html>